# Copia este ficheiro para .env.local e preenche com os teus valores do Supabase
# Encontras estes valores em: https://supabase.com/dashboard → Project Settings → API

NEXT_PUBLIC_SUPABASE_URL=https://jsslyritdivjtsiwdorm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sZtG3Z14TE_nlG4xwa3enQ_w55hCF5m
sb_publishable_sZtG3Z14TE_nlG4xwa3enQ_w55hCF5m